<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="student" class="com.springproject.bean.Student">
		<property name="name" value="wuj"/>
		<property name="age" value="12"/>
		<property name="sex" value="female"/>
	</bean>
</beans>